backups
!backups/.gitkeep

infrastructure/mariadb/data/*
infrastructure/mariadb/logs/*
infrastructure/pgadmin/data/*
infrastructure/php84-nginx/logs/*
infrastructure/portainer/data/*
infrastructure/mapostgresriadb/data/*
infrastructure/redis/data/*

src